<p id="notice"><%= notice %></p>

<h1>Nodes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Workspace</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @nodes.each do |node| %>
      <tr>
        <td><%= node.name %></td>
        <td><%= node.description %></td>
        <td><%= node.workspace_id %></td>
        <td><%= link_to 'Edit', edit_node_path(@workspace.id, node) %></td>
        <td><%= link_to 'Destroy', destroy_node_path(@workspace.id, node), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Node', new_node_path(@workspace) %>