<p id="notice"><%= notice %></p>

<h2> Nodes </h2>
<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show All
  </button>
</p>

<div class="collapse" id="collapseExample">
  <div class="card card-body">
    <table class="table">
      <thead>
        <tr>
          <th><h4>Name</h4></th>
          <th><h4>Description</h4></th>
          <th colspan="2"></th>
        </tr>
      </thead>

      <tbody>
        <% @nodes.each do |node| %>
          <% if(node.workspace_id == @workspace.id) %>
            <tr>
              <td><h5><%= node.name %></h5></td>
              <td><%= node.description %></td>

              <td><a class="btn btn-outline-warning" href=<%= edit_node_path(@workspace.user_id, @workspace.id, node.id) %> role="button">Edit</a></td>

              <td><%= button_to('Destroy', destroy_node_path(@workspace.user_id, @workspace.id, node.id), class: "btn btn-outline-danger", method: "delete",
                data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %></td>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>

  <a class="btn btn-outline-success" href=<%= new_node_path(@workspace.user_id, @workspace) %> role="button">New Node</a>
  </div>
</div>

