<p id="notice"><%= notice %></p>

<h1>Workspaces</h1>

<p>
  <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
    Show All
  </button>
</p>

<%# <div class="collapse" id="collapseExample">
  <div class="card card-body"> %>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>User</th>
          <th>Description</th>
          <th>Nodes</th>
          <th colspan="4"></th>
        </tr>
      </thead>

      <tbody>
        <% @workspaces.each do |workspace| %>
          <tr>
          
            <%# Details %>
            <td><%= workspace.name %></td>
            <td><%= workspace.user.name %></td>
            <td><%= workspace.description %></td>
            <td><%= @nodeCount[workspace.id] %></td>

            <%# Actions %>
            <td><a class="btn btn-outline-warning" href=<%= edit_workspace_path(workspace.id) %> role="button">Edit</a></td>            
            <td><%= button_to('Destroy', workspace, class: "btn btn-outline-danger", method: "delete", remote: true,
              data: { confirm: 'Are you sure?', disable_with: 'loading...' }) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  <%# </div>
</div> %>

<br>

<%= link_to 'New Workspace', new_workspace_path %>
